[Unit]
Description=Run openstack-swift-storage-setup (once)
After=local-fs.target postgres-server-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -v -i /usr/share/swift/hosts /usr/share/swift/swift-storage.yml
Restart=no

[Install]
WantedBy=multi-user.target
