[Unit]
Description=Run openvswitch-setup Ansible scripts
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ansible-playbook -v -i /usr/share/openstack/hosts /usr/share/openstack/openvswitch.yml

[Install]
WantedBy=multi-user.target
