[Unit]
Description=OpenStack Cinder volume server
ConditionPathExists=/etc/cinder/cinder.conf
After=network-online.target openstack-cinder-config-setup.service openstack-cinder-db-setup.service openstack-cinder-lv-setup.service lvm2-lvmetad.service iscsid.service target.service
Wants=network-online.target

[Service]
Type=simple
User=cinder
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/cinder-volume --config-file /etc/cinder/cinder.conf

[Install]
WantedBy=multi-user.target
