[Unit]
Description=Neutron OpenvSwitch Plugin Agent
ConditionPathExists=/etc/neutron/neutron.conf
After=network-online.target openstack-neutron-config-setup.service openstack-neutron-db-setup.service
Wants=network-online.target

[Service]
Type=simple
User=neutron
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/neutron-openvswitch-agent \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini

[Install]
WantedBy=multi-user.target
