# This is the main Gerrit configuration. If you make changes to this
# file, rerun `ansible-playbook -i hosts baserock_gerrit/instance-config.yml`
# to deploy them to production.

[gerrit]
	basePath = git
	canonicalWebUrl = https://gerrit.baserock.org/
[database]
	type = mysql
	hostname = 192.168.222.30
	database = gerrit
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = OPENID_SSO
	allowedOpenID = https://openid.baserock.org/
	trustedOpenID = https://openid.baserock.org/
	# XRDS is a mechanism for saying 'here are the services I provide'. Gerrit
	# expects the URL provided here to describe the OpenID provider service
	# using XRDS.
	openIdSsoUrl = https://openid.baserock.org/openid/xrds/
[sendemail]
	smtpServer = 192.168.222.111
	# Send mails as '${user} (Code Review) <gerrit.baserock.org>'
	# The gerrit@baserock.org email comes from the user.email setting
	# below
	from = MIXED
[user]
	name = Baserock Gerrit
	email = gerrit@baserock.org
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-https://*:8080/
[cache]
	directory = cache
[cache "web_sessions"]
	# Remember user logins for a year (default is 12 hours, which gets a
	# bit annoying).
	maxAge = 1 y
[user]
	email = "gerrit@baserock.org"

# It seems like a bad idea to enable remote administration of plugins, but
# there is absolutely no information available on how to do 'local'
# administration of Gerrit plugins, so we can't really avoid it.
[plugins]
	allowRemoteAdmin = true
