[Unit]
Description=Morph distributed build worker
Requires=local-fs.target network.target
Wants=srv-distbuild-ccache.mount
After=local-fs.target network.target srv-distbuild-ccache.mount
ConditionPathExists=/etc/morph-worker.conf

[Service]
ExecStart=/usr/bin/morph worker-daemon --config /etc/morph-worker.conf
Restart=always
