[Unit]
Description=Morph cache server
Requires=local-fs.target network.target
After=local-fs.target network.target
ConditionPathExists=/etc/morph-cache-server.conf

[Service]
ExecStart=/usr/bin/morph-cache-server
Restart=always
