[Unit]
Description=OpenStack Swift Storage
After=syslog.target network.target swift-storage-setup.service

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/bin/swift-init all start
ExecStop=/usr/bin/swift-init all stop

[Install]
WantedBy=multi-user.target
