[Unit]
Description=Run cinder-config-setup Ansible scripts
ConditionPathExists=/etc/openstack/cinder.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/cinder-config.yml

[Install]
WantedBy=multi-user.target
