[Unit]
Description=Mason: Continuous Delivery Service

[Service]
User=root
ExecStart=/usr/lib/mason/mason-report.sh

[Install]
WantedBy=multi-user.target
