# Configuration for gerrit-replication plugin.
#
# This handles pushing changes from gerrit.baserock.org to git.baserock.org.

[remote "trove"]
  url = ssh://git@git.baserock.org/${name}.git

  # Disable force-pushing and only sync 'master' and tags.
  #
  # This will probably prove annoying and we'll need to mirror more branches in
  # future. But right now there are hundreds of personal branches and I want to
  # avoid potential push errors for branches we don't care about.
  push = refs/heads/master:refs/heads/master
  push = refs/tags/*:refs/tags/*

  createMissingRepositories = false
  replicatePermissions = false

  # What to sync: this is a regexp that must match the whole project name.
  projects = ^baserock/.*$

  # If true, gerrit-replication will remove remote branches that are absent in
  # the trove. This is a bit dangerous, but necessary if we are to make gerrit
  # the 'master'. Note that if you set 'authGroup', branches that are not
  # visible to the configured authorisation group will also be removed. So do
  # not set 'authGroup' to anything.
  mirror = false
