[Install]
WantedBy=multi-user.target

[Unit]
Description=Lighttpd Web Server
After=network.target

[Service]
ExecStart=/usr/sbin/lighttpd -f /etc/lighttpd-irclogs.conf -D
Restart=always

