[Unit]
Description=OpenStack Identity Service (code-named Keystone)
After=syslog.target network-online.target
ConditionPathExists=/etc/keystone/keystone.conf
Wants=network-online.target

[Service]
Type=notify
Restart=always
User=keystone
ExecStart=/usr/bin/keystone-all --config-file /etc/keystone/keystone.conf

[Install]
WantedBy=multi-user.target
