[Unit]
Description=OpenStack Nova Cert
ConditionPathExists=/etc/nova/nova.conf
After=network-online.target openstack-nova-config-setup.service openstack-nova-db-setup.service
Wants=network-online.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-cert --config-file /etc/nova/nova.conf

[Install]
WantedBy=multi-user.target
