[Unit]
Description=Database-access support for Compute nodes (nova-conductor)
ConditionPathExists=/etc/nova/nova.conf
After=network-online.target openstack-nova-config-setup.service openstack-nova-db-setup.service libvirtd.service
Wants=network-online.target
Requires=libvirtd.service

[Service]
Type=simple
User=nova
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/nova-conductor --config-file /etc/nova/nova.conf

[Install]
WantedBy=multi-user.target
