[Unit]
Description=Run nova-config-setup Ansible scripts
ConditionPathExists=/etc/openstack/neutron.conf
After=openstack-keystone-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/nova-config.yml

[Install]
WantedBy=multi-user.target
