[Unit]
Description=OpenStack Cinder scheduler server
ConditionPathExists=/etc/cinder/cinder.conf
After=network-online.target openstack-cinder-volume.service openstack-cinder-db-setup.service openstack-cinder-config-setup.service
Wants=network-online.target

[Service]
Type=simple
User=cinder
ExecStart=/usr/bin/cinder-scheduler --config-file /etc/cinder/cinder.conf --log-file=/var/log/cinder/cinder-scheduler.log

[Install]
WantedBy=multi-user.target
