[Unit]
Description=OpenStack ceilometer notification agent
ConditionPathExists=/etc/ceilometer/ceilometer.conf
After=syslog.target network-online.target openstack-ceilometer-collector.service
Wants=network-online.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-agent-notification --config-file /etc/ceilometer/ceilometer.conf --logfile /var/log/ceilometer/agent-notification.log

[Install]
WantedBy=multi-user.target
