[Unit]
Description=Run cinder-setup Ansible scripts
After=local-fs.target openstack-keystone-setup.service postgres-server.service

[Service]
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/cinder.yml

[Install]
WantedBy=multi-user.target
