[Unit]
Description=Neutron OVS cleanup
After=network-online.target openstack-neutron-setup.service openvswitch.service
Wants=network-online.target
Before=openstack-neutron-plugin-openvswitch-agent.service
ConditionFileIsExecutable=/usr/bin/neutron-ovs-cleanup

[Service]
Type=oneshot
RemainAfterExit=yes
User=neutron
ExecStart=/usr/bin/neutron-ovs-cleanup \
  --log-file /var/log/neutron/ovs-cleanup.log \
  --config-file /etc/neutron/neutron.conf --verbose

[Install]
WantedBy=multi-user.target
