[Unit]
Description=Open vSwitch Daemon
Wants=network-pre.target
After=openvswitch-initialize-db.service
Before=network-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/ovs-vswitchd --pidfile --detach

[Install]
WantedBy=multi-user.target
