[Unit]
Description=Run Ansible scripts to configure internal network for OpenStack
After=openvswitch.service openvswitch-setup.service
Before=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/network.yml

[Install]
WantedBy=multi-user.target
