[Unit]
Description=Neutron Api Server
ConditionPathExists=/etc/neutron/neutron.conf
Wants=openstack-neutron-network-configuration-one-node.service network-online.target openstack-neutron-config-setup.service
After=openstack-neutron-network-configuration-one-node.service network-online.target openstack-neutron-config-setup.service openstack-neutron-db-setup.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-server \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini \
  --log-file=/var/log/neutron/neutron-server.log

[Install]
WantedBy=multi-user.target
