[Unit]
Description=Run neutron-config-setup Ansible scripts
ConditionPathExists=/etc/openstack/neutron.conf
After=openstack-keystone.service openstack-keystone-setup.service
Wants=openstack-keystone.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/neutron-config.yml

[Install]
WantedBy=multi-user.target
