[Unit]
Description=Run glance-setup Ansible scripts
ConditionPathExists=/etc/openstack/glance.conf
After=local-fs.target network-online.target openstack-keystone-setup.service postgres-server-setup.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/glance.yml

[Install]
WantedBy=multi-user.target
