[Unit]
Description=OpenStack ceilometer compute agent
ConditionPathExists=/etc/ceilometer/ceilometer.conf
After=syslog.target network-online.target openstack-ceilometer-config-setup.service
Wants=network-online.target

[Service]
Type=simple
User=ceilometer
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/ceilometer-agent-compute --config-file /etc/ceilometer/ceilometer.conf

[Install]
WantedBy=multi-user.target
