[Unit]
Description=Neutron Api Server
Wants=openstack-neutron-network-configuration-one-node.service network-online.target
After=network-online.target openstack-neutron-setup.service openstack-neutron-network-configuration-one-node.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-server \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini \
  --log-file=/var/log/neutron/neutron-server.log

[Install]
WantedBy=multi-user.target
