[Unit]
Description=Neutron OpenvSwitch Plugin Agent
ConditionPathExists=/etc/neutron/neutron.conf
After=network-online.target openstack-neutron-config-setup.service openstack-neutron-db-setup.service
Wants=network-online.target openstack-neutron-config-setup.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-openvswitch-agent \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini \
  --log-file=/var/log/neutron/openvswitch-agent.log

[Install]
WantedBy=multi-user.target
