[Unit]
Description=Neutron DHCP Agent
ConditionPathExists=/etc/neutron/neutron.conf
After=network-online.target openstack-neutron-config-setup.service openstack-neutron-db-setup.service openstack-neutron-ovs-cleanup.service
Wants=network-online.target openstack-neutron-config-setup.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-dhcp-agent \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/dhcp_agent.ini \
  --log-file=/var/log/neutron/dhcp-agent.log

[Install]
WantedBy=multi-user.target
