[Unit]
Description=OpenStack ceilometer alarm notification service
After=syslog.target network-online.target openstack-ceilometer-config-setup.service
Wants=network-online.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-alarm-notifier --logfile /var/log/ceilometer/alarm-notifier.log

[Install]
WantedBy=multi-user.target
