[Unit]
Description=Database-access support for Compute nodes (nova-conductor)
ConditionPathExists=/etc/nova/nova.conf
After=network-online.target libvirtd.service openstack-nova-config-setup.service openstack-nova-db-setup.service
Wants=network-online.target
Requires=libvirtd.service

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-conductor --config-file /etc/nova/nova.conf --logfile /var/log/nova/conductor.log

[Install]
WantedBy=multi-user.target
