[Unit]
Description=Run neutron-db-setup Ansible scripts
ConditionPathExists=/etc/openstack/neutron.conf
After=network-online.target postgres-server-setup.service openstack-keystone-setup.service openstack-neutron-config-setup.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/neutron-db.yml
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
