[Unit]
Description=OpenStack ceilometer API service
After=syslog.target network-online.target openstack-ceilometer-config-setup.service
Wants=network-online.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-api --config-file /etc/ceilometer/ceilometer.conf --logfile /var/log/ceilometer/api.log

[Install]
WantedBy=multi-user.target
