[Unit]
Description=Neutron Layer 3 Agent
ConditionPathExists=/etc/neutron/neutron.conf
After=network-online.target openstack-neutron-config-setup.service openstack-neutron-db-setup.service openstack-neutron-ovs-cleanup.service
Wants=network-online.target openstack-neutron-config-setup.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-l3-agent \
  --config-file=/etc/neutron/neutron.conf \
  --config-file=/etc/neutron/l3_agent.ini \
  --config-file=/etc/neutron/fwaas_driver.ini \
  --log-file=/var/log/neutron/l3-agent.log

[Install]
WantedBy=multi-user.target
