[Unit]
Description=Run swift-controller-setup (once)
After=local-fs.target postgres-server-setup.service openstack-keystone-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -v -M /usr/share/ansible/ansible-openstack-modules -i /usr/share/openstack/hosts /usr/share/openstack/swift-controller.yml
Restart=no

[Install]
WantedBy=multi-user.target
